.row#project-index-wrapper
  .col-lg-10
    - if @results
      - @results.each do |user|
        = render 'shared/user_thumbnail', user: user
  .col-lg-2                
    = form_tag search_users_path, method: 'get' do
      %h3 Area of Expertise
      %label
        %input{:name => 'talent_type[]', :type => "checkbox", :value => "Graphic Design"}
        Graphic Design
      %label
        %input{:name => 'talent_type[]', :type => "checkbox", :value => "Software Development"}
        Software Development
      %label
        %input{:name => 'talent_type[]', :type => "checkbox", :value => "Accounting"}
        Accounting
      %label 
        %input{:name => 'talent_type[]', :type => "checkbox", :value => "Fundraising"}
        Fundraising
      %label 
        %input{:name => 'talent_type[]', :type => "checkbox", :value => "Business Consulting"}
        Business Consulting
      = submit_tag "Search", :id => "project-filter-submit"
