<% if @projects.empty? %>
	$('#projectsDiv').empty()
	$('#projectsDiv').append('<p> <%= j render "shared/empty_project_thumbnail" %></p>')
<% else %>
	$('#projectsDiv').empty()
	"<% @projects.each do |project| %>"
		$('#projectsDiv').append('<p> <%= j render "shared/project_thumbnail", project: project %></p>')
	"<% end %>"
<% end %>