<% if @projects.empty? %>
	$('#projectsDiv').empty()
	$('#projectsDiv').append('<p> <%= j render "shared/empty_project_thumbnail" %></p>')
<% elsif @projects.first.class.name == "Project"  %>
	$('#projectsDiv').empty()
	"<% @projects.each do |project| %>"
		$('#projectsDiv').append('<p> <%= j render "shared/project_thumbnail", project: project %></p>')
	"<% end %>"
<% else %>
	$('#projectsDiv').empty()
	"<% @projects.each do |draft| %>"
  	$('#projectsDiv').append('<p> <%= j render "shared/project_draft_thumbnail", draft: draft %></p>');
	"<% end %>"
<% end %>